@import '../../conditions';
@import '../../shared';

.logoWrapper {
  position: relative;
  z-index: 3;

  display: flex;

  transition: opacity .2s;
  transition-duration: .2s;

  opacity: 1;

  justify-content: center;
  align-items: center;

  &:hover {
    .logoPlaceholder {
      opacity: .7;
    }
  }
}

.logoImage {
  max-width: 125px;
  max-height: 26px;

  transition: opacity .2s;

  @include query(max-width-550()) {
    max-width: 90px;
    max-height: 20px;
  }
  @include query(max-width-350()) {
    max-width: 70px;
    max-height: 18px;
  }
  @include query(in-full-screen()) {
    max-width: 450px;
    max-height: 36px;
  }
  &.hidden {
    //for accessibility reasons
    display: none;
  }
}

.logoButton {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;

  transition: transform .2s;

  @include query(in-full-screen()) {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;

    .icon_small {
      display: none;
    }

    .icon_big {
      display: block;
    }
  }

  .icon_small {
    display: block;
  }

  .icon_big {
    display: none;
  }

  &:hover {
    transform: scale(1.2);
  }
}
