@import '../../shared';

.buttonWrapper {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;
}

.chromecastButton {
  width: 18px;
  height: 19px;
  padding-right: 5px;

  cursor: pointer;
  transition: transform .2s;

  @include apply(in-full-screen()) {
    width: 27px;
    height: 28px;
    padding-top: 2px;
  }

  &:hover {
    transform: scale(1.18);
  }
}
