@import '../../shared';


$color: white !default;

.volume-control {
  position: relative;

  display: flex;

  width: 18px;
  max-width: 18px;
  height: 25px;
  margin: 0 23px 0 15px;

  justify-content: center;
  align-items: center;

  &:hover {
    .container {
      visibility: visible;

      opacity: 1;
    }

    .mute-button {
      opacity: 1;
    }
  }
}

.mute-button {
  width: 18px;
  min-width: 18px;
  height: 14px;
  min-height: 14px;

  background-image: url('../../../assets/volume/volume-100.svg');
  background-size: 18px 14px;

  &.half-volume {
    background-image: url('../../../assets/volume/volume-50.svg');
  }

  &.muted {
    background-image: url('../../../assets/volume/volume-0.svg');
  }
}

.container {
  font-size: 12px;

  position: absolute;
  top: -108px;
  left: -9px;

  visibility: hidden;

  padding: 9px 10px;

  transition: .2s opacity, .2s visibility;

  opacity: 0;
  border-radius: 4px;
  background-color: rgba(0,0,0,.7);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.3);
}

.content {
  position: relative;

  box-sizing: content-box;
  width: 2px;
  height: 86px;
  padding: 2px 7px;
}

.input-wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  background-color: $video-progress-bg;
}

.filled-progress {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  background-color: $color;

  &:before {
    position: absolute;
    top: -5px;
    right: -5px;

    width: 12px;
    height: 12px;

    content: '';

    border-radius: 50%;
    background-color: #fff;
  }
}

.volume-input {
  position: absolute;
  top: 0;
  right: -5px;
  bottom: 0;
  left: -5px;

  width: 12px;
  height: 100%;
  margin: 0;
  padding: 0;

  cursor: pointer;
  -ms-writing-mode: bt-lr;

  opacity: 0;
  border: 0;
  outline: none;

  -webkit-appearance: slider-vertical;
}
