@import '../../shared';

.buttonWrapper {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;
}

.downloadButton {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;

  transition: transform .2s;

  @include in-full-screen() {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 21px;

    .icon {
      width: 24px;
      height: 21px;
    }
  }

  .icon {
    width: 17px;
    height: 15px;
  }

  &:hover {
    transform: scale(1.18);
  }
}
