<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Player</title>
    <% if (debug) { %>
      <script src="<%= staticsBaseUrl %>video-player.bundle.js"></script>
    <% } else { %>
      <script src="<%= staticsBaseUrl %>video-player.bundle.min.js"></script>
    <% } %>
</head>
<body>

<div id="content"></div>
<script>
    var player = new VideoPlayer({
        width: 700,
        height: 394,
        muted: false,
        src: [
          'https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4',
        ],
        enableLogger: true,
        ui: {
          enableControls: true,
          enableOverlay: true
        },
        poster: 'https://pbs.twimg.com/media/C3iThsgWcAAyXhm.jpg:large'
    });
    document.getElementById('content').appendChild(player.node);
</script>
</body>
</html>
