.time-wrapper {
  display: flex;
  flex: 0 0 auto;

  width: 75px;
  height: 18px;
  margin-right: 20px;

  align-items: center;

  .time {
    font-size: 12px;
    line-height: 1px;

    color: hsla(0,0%,100%,.8);

    &.current {
      margin-right: 5px;
    }
    &.duration {
      margin-left: 5px;
    }
  }
}
