.tooltip {
  padding: 4px 7px;

  background: rgba(0,0,0,.5);

  visibility: visible;
  opacity: 1;
  transition: opacity .2s, visibility .2s;

  &.tooltipHidden {
    visibility: hidden;
    opacity: 0;
  }

  &[x-placement^='top'] {
    margin-bottom: 9px;
  }

  &[x-placement^='bottom'] {
    margin-top: 9px;
  }

  &[x-placement^='right'] {
    margin-left: 9px;
  }

  &[x-placement^='left'] {
    margin-right: 9px;
  }
}

.tooltipInner {
  font-size: 11px;
  line-height: 12px;

  white-space: nowrap;

  color: white;
}
