.card1 {
  width: 145px;
  height: 110px;

  background: #b6c1cd;

  flex-shrink: 0;
}

.card2 {
  width: 350px;
  height: 110px;

  background: black;

  flex-shrink: 0;
}

.card3 {
  width: 160px;
  height: 110px;

  background: cadetblue;

  flex-shrink: 0;
}

.card4 {
  width: 170px;
  height: 110px;

  background: lightyellow;

  flex-shrink: 0;
}

.card5 {
  width: 190px;
  height: 110px;

  background: sandybrown;

  flex-shrink: 0;
}
