.container {
  position: absolute;
  z-index: 51;
  bottom: 12px;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  padding: 12px 12px 0;

  flex-wrap: wrap;
  height: 134px;

  transition: bottom .2s;

  &.controls-showed {
    bottom: 51px;
  }
}
