@mixin in-full-screen() {
  div[data-hook='player-container'][data-in-full-screen='true'] & {
    @content
  }
}

@mixin max-width-550() {
  div[data-hook='player-container'][#{max-width}~=#{'"550px"'}] & {
    @content
  }
}

$controls-size-less-550px: 39px;
$controls-size-more-550px: 51px;
$controls-size-full-screen: 85px;

$container-margin-less-550px: 6px;
$container-margin-more-550px: 12px;
$container-margin-full-screen: 24px;

.container {
  position: absolute;
  z-index: 65;
  bottom: 12px;

  display: flex;
  overflow: hidden;

  max-width: calc(100% - 2 * #{$container-margin-more-550px});
  max-height: calc(100% - #{$controls-size-more-550px});
  margin: 0 $container-margin-more-550px;

  transition: bottom .2s;

  @include max-width-550() {
    max-width: calc(100% - 2 * #{$container-margin-less-550px});
    max-height: calc(100% - #{$controls-size-less-550px});
    margin: 0 $container-margin-less-550px;
  }
  @include in-full-screen() {
    max-width: calc(100% - 2 * #{$container-margin-full-screen});
    max-height: calc(100% - 85px);
    margin: 0 $container-margin-full-screen;
  }

  &[data-flow-type='flow-vertical'] {
    &[data-direction='direction-standard'] {
      flex-direction: column;
    }

    &[data-direction='direction-reverse'] {
      flex-direction: column-reverse;
    }
  }

  &[data-flow-type='flow-horizontal'] {
    &[data-direction='direction-standard'] {
      flex-direction: row;
    }

    &[data-direction='direction-reverse'] {
      flex-direction: row-reverse;
    }
  }

  &[data-anchor-point='anchor-top-left'] {
    left: 0;
  }

  &[data-anchor-point='anchor-top-right'] {
    right: 0;
  }

  &[data-anchor-point='anchor-top-left'],
  &[data-anchor-point='anchor-top-right'] {
    top: 12px;

    @include max-width-550() {
      top: 18px;
    }
    @include in-full-screen() {
      top: 24px;
    }
  }

  &[data-anchor-point='anchor-bottom-left'] {
    left: 0;
  }

  &[data-anchor-point='anchor-bottom-right'] {
    right: 0;
  }

  &[data-anchor-point='anchor-bottom-left'],
  &[data-anchor-point='anchor-bottom-right'] {
    bottom: $container-margin-more-550px;

    @include max-width-550() {
      bottom: $container-margin-less-550px;
    }
    @include in-full-screen() {
      bottom: $container-margin-full-screen;
    }

    &.controls-showed {
      bottom: calc(#{$controls-size-more-550px} - #{$container-margin-less-550px});

      @include max-width-550() {
        bottom: calc(#{$controls-size-less-550px} - #{$container-margin-less-550px});
      }
      @include in-full-screen() {
        bottom: calc(#{$controls-size-full-screen} - #{$container-margin-less-550px});
      }
    }
  }
}
