@import '../../media-query-mixins';
@import '../../shared';

.logoWrapper {
  position: relative;
  z-index: 3;

  display: flex;

  cursor: pointer;
  transition: opacity .2s, visibility .2s;
  transition-duration: .2s;

  opacity: 1;

  justify-content: center;
  align-items: center;

  &:hover {
    .logoPlaceholder,
    img {
      opacity: .7;
    }
  }

  &.link {
    cursor: pointer;
  }
}

.companyLogo {
  max-width: 125px;
  max-height: 26px;

  transition: opacity .2s, visibility .2s;

  @include max-width-550() {
    max-width: 90px;
    max-height: 20px;
  }
  @include max-width-350() {
    max-width: 70px;
    max-height: 18px;
  }
  @include in-full-screen() {
    max-width: 450px;
    max-height: 36px;
  }
}

.logoPlaceholder {
  width: 14px;
  min-width: 14px;
  height: 14px;
  min-height: 14px;

  transition: transform .2s;

  @include in-full-screen() {
    width: 21px;
    min-width: 21px;
    height: 21px;
    min-height: 21px;
  }

  &:hover {
    transform: scale(1.20);
  }
}
