@import '../shared';

.title {
  font-size: 16px;
  line-height: 17px;

  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: white;

  @include max-width-550() {
    font-size: 14px;
    line-height: 15px;
  }
  @include max-width-300 {
    font-size: 12px;
    line-height: 13px;;
  }
  @include in-full-screen {
    font-size: 20px;
    line-height: 20px;
  }

  &.link {
    cursor: pointer;
  }
}
