.screen {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: black;

  justify-content: center;
  align-items: center;

  &.regularMode,
  &.blurMode {
    video {
      width: 100%;
      height: 100%;
    }
  }

  &.fillMode {
    video {
      position: absolute;
    }
  }

  &.verticalStripes {
    &.fillMode {
      video {
        width: 100%;
        height: auto !important;
      }
    }
  }

  &.horizontalStripes {
    &.fillMode {
      video {
        height: 100%;
      }
    }
  }

  video {
    position: relative;
    z-index: 1;

    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  }

  &.hiddenCursor {
    cursor: none;
  }
}

.backgroundCanvas {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  filter: blur(14px);
}
