.screen {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: black;

  justify-content: center;

  &.verticalVideo {
    flex-direction: row;
    video {
      height: 100%;
    }
  }
  &.horizontalVideo {
    flex-direction: column;
    video {
      width: 100%;
    }
  }

  video {
    position: relative;
    z-index: 1;

    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  }

  &.hiddenCursor {
    cursor: none;
  }
}

$canvas-padding-vertical: 20px;
$canvas-padding-horizontal: 20px;

.backgroundCanvas {
  position: absolute;
  z-index: 0;
  top: -$canvas-padding-vertical;
  right: 0;
  bottom: 0;
  left: -$canvas-padding-horizontal;

  filter: blur(14px);
}
