.screen {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: black;

  justify-content: center;
  align-items: center;

  &.regularMode {
    video {
      width: 100%;
      height: 100%;
    }
  }

  &.verticalVideo {
    flex-direction: row;
    &.fillMode {
      video {
        width: 100%;
      }
    }
    &.blurMode {
      video {
        height: 100%;
      }
    }
  }

  &.horizontalVideo {
    flex-direction: column;
    &.fillMode {
      video {
        height: 100%;
      }
    }
    &.blurMode {
      video {
        width: 100%;
      }
    }
  }

  video {
    position: relative;
    z-index: 1;

    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  }

  &.hiddenCursor {
    cursor: none;
  }
}
