@import 'shared';

.video-wrapper {
  font-family: $font-family;
  line-height: 0;

  position: relative;

  display: flex;
  overflow: hidden;

  width: 100%;
  height: 100%;

  user-select: none;

  outline: none;
  background-color: black;

  justify-content: center;
  align-items: center;

  video {
    position: relative;
    z-index: 0;

    width: 100%;
    height: 100%;

    outline: none;
  }

  .custom-ui-wrapper {
    position: absolute;
    z-index: 5;

    width: 100%;
    height: 100%;
  }
}
