@import '../../shared';


$color: white !default;

.volume-control {
  position: relative;

  display: flex;

  margin-right: 15px;

  transition: width .2s;

  justify-content: flex-start;
  align-items: center;
  @include in-full-screen() {
    height: 35px;
    margin-right: 20px;
  }

  &:hover,
  &.is-dragging {
    margin-right: 20px;
    .volume-input-block {
      width: 50px;

      opacity: 1;
    }
  }
}

.mute-button {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;

  background-image: url('../../../../assets/volume-100.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 14px;

  @include in-full-screen() {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;

    background-size: 25px 21px;
  }

  &.half-volume {
    background-image: url('../../../../assets/volume-50.svg');
  }

  &.muted {
    background-image: url('../../../../assets/volume-0.svg');
  }
}

.volume-input-block {
  position: relative;

  display: block;

  width: 0;
  height: 25px;
  margin-left: 2px;

  transition: opacity .2s, width .2s;

  opacity: 0;
}


.progress-bar {
  position: absolute;
  top: 11.5px;

  height: 2px;
  padding: 0;
}

.volume {
  background-color: white;

  &:after {
    position: absolute;
    top: -3px;
    right: -4px;

    width: 8px;
    height: 8px;

    content: '';
    transition: opacity .2s;

    border-radius: 50%;
    background-color: #fff;
  }
}

.background {
  width: 100%;

  background-color: transparentize(#fff, .75);
}

.hitbox {
  position: relative;
  z-index: 5;

  display: block;

  width: 100%;
  height: 25px;

  cursor: pointer;

  opacity: 0;
}

:global {
  [data-focus-source='key'] [data-hook='volume-control'],
  [data-focus-source='script'] [data-hook='volume-control'] {
    margin-right: 20px;

    .focus-within {
      &:local.volume-input-block {
        width: 50px;

        opacity: 1;
        box-shadow: 0 0 0 2px rgba(56, 153, 236, .8);
      }
    }
  }
}
