@import '../../shared';

.time-wrapper {
  display: flex;
  flex: 0 0 auto;

  //height: 15px;
  margin-right: 18px;

  align-items: center;
  @include in-full-screen() {
    margin-right: 30px;
  }
  @include max-width-300() {
    @include hidden();
  }
}

.time {
  font-size: 12px;
  //line-height: 12px;

  color: $color-main;

  @include in-full-screen() {
    font-size: 14px;
  }

  &.current {
    margin-right: 5px;
  }
  &.duration {
    margin-left: 5px;
  }
}
