@import '../../shared';

.time-wrapper {
  display: flex;
  flex: 0 0 auto;

  height: 25px;

  align-items: center;
}

.time {
  font-size: 12px;
  line-height: 25px;

  color: white;

  @include in-full-screen() {
    font-size: 14px;
  }

  &.current {
    margin-right: 5px;
  }
  &.duration {
    margin-left: 5px;
  }
}
