.mainUiBlock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  .tooltipContainerWrapper {
    position: relative;

    flex-grow: 2;
  }
}
