@import '../../shared';

.fullScreenControl {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;
}

.fullScreenToggle {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;

  transition: transform .2s;

  @include query(in-full-screen()) {
    width: 35px;
    height: 35px;
  }

  &:hover {
    transform: scale(1.18);
  }

  .enterIcon {
    display: block;
  }

  .exitIcon {
    display: none;
  }

  &.inFullScreen {
    &:hover {
      transform: scale(.8);
    }

    .enterIcon {
      display: none;
    }

    .exitIcon {
      display: block;
    }
  }
}
