@import '../../shared';

.fullScreenControl {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;
}


.fullScreenToggle {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;

  transition: transform .2s;

  @include in-full-screen() {
    width: 17px;
    height: 35px;

    .icon {
      width: 16px;
      height: 19px;
    }
  }

  .icon {
    width: 17px;
    height: 15px;
  }

  &:hover {
    transform: scale(1.18);
  }

  &.inFullScreen {
    &:hover {
      transform: scale(.8);
    }
  }
}
