<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video Player Cards module</title>
  <style>
    #content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #player {
      position: relative;
      overflow: hidden;
    }
  </style>
  <% if (debug) { %>
  <script src="<%= staticsBaseUrl %>demo.bundle.js"></script>
  <% } else { %>
  <script src="<%= staticsBaseUrl %>demo.bundle.min.js"></script>
  <% } %>
</head>
<body>

<div id="content">
  <div id="player">
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    CardsModuleDemo.player.attachToElement(document.getElementById('player'));
  });
</script>
</body>
</html>
