@import '../ui/shared.global';


$font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica Neue,Helvetica,Arial,\\30E1\30A4\30EA\30AA,meiryo,\\30D2\30E9\30AE\30CE\89D2\30B4 pro w3,hiragino kaku gothic pro;

.video-wrapper {
  font-family: $font-family;
  line-height: 0;

  position: relative;

  height: inherit;

  ::-moz-focus-inner {
    border: 0;
  }

  .full-screen-control {
    display: none;
  }
}

.fill-all-space,
.full-screen {
  width: 100%!important;
  height: 100%!important;
}
