@import '../../shared';

.play-control {
  position: relative;

  display: flex;

  box-sizing: border-box;
  height: 15px;
  margin-right: 20px;
  padding: 0 20px;

  border-right: 1px solid hsla(0,0%,100%,.2);

  align-items: center;
  justify-content: center;

  .playback-toggle {
    width: 13.5px;
    min-width: 13.5px;
    height: 16px;
    min-height: 16px;

    background-image: url('./svg/pause-icon.svg');
    background-size: 13.5px 16px;

    &.paused {
      background-image: url('./svg/play-icon.svg');
    }
  }
}
