@import '../shared';

.topBlock {
  position: relative;
  z-index: 60;

  display: flex;

  padding-left: 20px;

  align-items: center;

  &::-moz-focus-inner {
    border: 0;
  }

  &.activated {
    .titleContainer,
    .background {
      opacity: 1;
    }
  }
}

.liveIndicatorContainer {
  flex-grow: 0;
}

.elementsContainer {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: row;

  width: 100%;

  justify-content: space-between;
  //margin-top: 20px;
  //margin-left: 20px;
  align-items: center;
  @include in-full-screen() {
    margin-top: 30px;
    margin-left: 30px;
  }
  @include max-width-550() {
    margin-top: 15px;
    margin-left: 15px;
  }
  @include max-width-280() {
    margin-top: 12px;
    margin-left: 12px;
  }
}

.titleContainer {
  overflow: hidden;

  max-width: calc(100% - 200px);

  transition: opacity .2s;

  opacity: 0;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  //height less then background by 1px 'cause of strange problem on chrome, when visible size of background is 181px
  //maybe it's 'cause of linear-gradient

  height: 187px;

  transition: opacity .2s;
  pointer-events: none;

  opacity: 0;
  background-image: linear-gradient(
  to top,
  rgba(0, 0, 0, 0),
  rgba(91, 88, 88, .08) 15%,
  rgba(43, 41, 41, .15) 38%,
  rgba(0, 0, 0, .25) 67%,
  rgba(0, 0, 0, .4)
  );
  background-size: 100% 188px;
}
