@import '../../shared';

$color: white !default;

.volumeControl {
  position: relative;

  display: flex;

  user-select: none;
  transition: width .2s;

  justify-content: flex-start;
  align-items: center;
  @include query(in-full-screen()) {
    height: 35px;
  }

  &:hover,
  &.isDragging {
    .volumeInputBlock {
      width: 50px;
      margin-right: 5px;

      opacity: 1;

      @include query(in-full-screen()) {
        width: 90px;
        margin-right: 10px;
      }
    }
  }
}

.muteButton {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;
  padding: 0;

  @include query(in-full-screen()) {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;

    .icon {
      width: 25px;
      height: 21px;
    }
  }

  .icon {
    width: 17px;
    height: 14px;
  }
}

.volumeInputBlock {
  position: relative;

  display: block;

  width: 0;
  height: 25px;
  margin-left: 2px;

  transition: opacity .2s, width .2s;

  opacity: 0;

  @include query(in-full-screen()) {
    margin-left: 5px;
  }
}

.progressBar {
  position: absolute;
  top: 11.5px;

  height: 2px;
  padding: 0;
}

.volume {
  &:after {
    position: absolute;
    top: -3px;
    right: -4px;

    width: 8px;
    height: 8px;

    content: '';
    transition: opacity .2s;

    border-radius: 50%;

    @include query(in-full-screen()) {
      top: -4px;
      right: -5px;

      width: 10px;
      height: 10px;
    }
  }
}

.background {
  width: 100%;
}

.hitbox {
  position: relative;
  z-index: 5;

  display: block;

  width: 100%;
  height: 25px;

  cursor: pointer;

  opacity: 0;
}

:global {
  [data-playable-focus-source='key'] [data-playable-hook='volume-control'],
  [data-playable-focus-source='script'] [data-playable-hook='volume-control'] {
    .focus-within {
      &:local.volumeInputBlock {
        width: 50px;
        margin-right: 5px;

        opacity: 1;
        box-shadow: 0 0 0 2px rgba(56, 153, 236, .8);

        @include query(in-full-screen()) {
          width: 90px;
          margin-right: 10px;
        }
      }
    }
  }
}
