$tooltipMargin: 10px;
$progressBarOffset: 4px;

.tooltipContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  margin: $tooltipMargin $tooltipMargin $tooltipMargin - $progressBarOffset;
}
