@import '../../shared';

.full-screen-control {
  position: relative;

  display: flex;

  margin: 0 22px 0 7px;

  align-items: center;
  justify-content: center;

  .full-screen-toggle {
    width: 18px;
    min-width: 18px;
    height: 15px;
    min-height: 15px;

    transition: transform .2s;

    background-image: url('./svg/full-screen.svg');
    background-size: 18px 15px;

    &:hover {
      transform: scale(1.20);
    }

    &.in-full-screen {
      background-image: url('./svg/exit-full-screen.svg');
    }
  }
}
