@import '../../shared';

.full-screen-control {
  position: relative;

  display: flex;

  margin: 0 22px 0 7px;

  align-items: center;
  justify-content: center;

  .icon {
    width: 18px;
    height: 14px;
  }
}
