<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video Player</title>
  <style>
    #content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  <% if (debug) { %>
  <script src="<%= staticsBaseUrl %>video-player.bundle.js"></script>
  <% } else { %>
  <script src="<%= staticsBaseUrl %>video-player.bundle.min.js"></script>
  <% } %>
</head>
<body>

<div id="content">
  <div id="player">

  </div>
</div>
<script>
  var player = new VideoPlayer.Player({
    autoplay: false,
    muted: false,
    loop: false,
    preload: 'auto',
    volume: 0.5,
    size: {
      width: 750,
      height: 500
    },
    src: [
      'https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4',
    ],
    overlay: {
      poster: 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hubble_Peers_into_the_Storm_%2829563971405%29.jpg/1024px-Hubble_Peers_into_the_Storm_%2829563971405%29.jpg'
    }
  });
  document.getElementById('player').appendChild(player.node);
</script>
</body>
</html>
