<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video Player</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    html,
    body {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/ally.js/1.4.1/ally.min.js"></script>
  <% if (debug) { %>
  <script src="<%= staticsBaseUrl %>video-player-develop.bundle.js"></script>
  <% } else { %>
  <script src="<%= staticsBaseUrl %>video-player-develop.bundle.min.js"></script>
  <% } %>
</head>
<body>
</body>
</html>
