@import '../../shared';

.playControl {
  position: relative;

  display: flex;

  box-sizing: border-box;

  align-items: center;
  justify-content: flex-start;
}

.playbackToggle {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;

  @include apply(in-full-screen()) {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;

    background-size: 15px 21px;

    .icon {
      width: 11px;
      height: 16px;
    }

    &.paused {
      background-size: 16px 21px;
    }
  }

  .icon {
    width: 11px;
    height: 16px;
  }
}
