@import '../../shared.global';

.play-control {
  position: relative;

  display: flex;

  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-right: 11px;
  margin-left: 11px;

  align-items: center;
  justify-content: flex-start;
  @include in-full-screen() {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    margin-left: 20px;
  }
  @include max-width-550() {
    margin-left: 5px;
  }
}

.playback-toggle {
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;

  background-image: url('../../../../assets/pause.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 14px;

  @include in-full-screen() {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;

    background-size: 15px 21px;

    &.paused {
      width: 35px;
      min-width: 35px;

      background-size: 16px 21px;
    }
  }

  &.paused {
    width: 25px;
    min-width: 25px;

    background-image: url('../../../../assets/play.svg');
    background-size: 10px 14px;
  }
}
