@import '../../shared';

.play-control {
  position: relative;

  display: flex;

  box-sizing: border-box;
  margin-right: 9px;
  margin-left: 13px;

  align-items: center;
  justify-content: flex-start;
  @include in-full-screen() {
    margin-right: 20px;
    margin-left: 20px;
  }
  @include max-width-550() {
    margin-left: 5px;
  }
}

.playback-toggle {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;

  background-image: url('../../../../assets/pause.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 14px;

  @include in-full-screen() {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;

    background-size: 15px 21px;

    &.paused {
      background-size: 16px 21px;
    }
  }

  &.paused {
    background-image: url('../../../../assets/play.svg');
    background-size: 11px 14px;
  }
}
