@import '../../shared';

.seek-block {
  position: relative;

  display: block;
  flex: 1;

  margin: 0 8px;

  cursor: pointer;
  transition: opacity .2s, visibility .2s;

  @include in-full-screen() {
    margin-right: 20px;
  }
  @include max-width-400() {
    @include hidden();
  }
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 0;

  height: 2px;
  margin: -1px 0 0;
  padding: 0;

  vertical-align: top;

  border: none;
}

.progress-played {
  background-color: $color-main;

  &:before {
    position: absolute;
    top: -4px;
    right: -5px;

    width: 10px;
    height: 10px;

    content: '';
    transition: transform .1s cubic-bezier(.0,.0,.2,1);

    border-radius: 50%;
    background-color: #fff;
  }
}

.progress-buffered {
  transition: width .2s ease;

  background-color: $video-progress-bg;
}

.progress-background {
  width: 100%;

  background-color: $video-progress-bg;
}


.seek-control {
  position: relative;
  z-index: 2;

  display: block;

  width: 100%;
  height: 15px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  vertical-align: middle;

  opacity: 0;
  border: none;
  background: transparent;

  appearance: none;
}

:global {
  [data-focus-source='key'] [data-hook='progress-control'].focus-within,
  [data-focus-source='script'] [data-hook='progress-control'].focus-within {
    opacity: 1;
    outline: 2px solid rgba(56, 153, 236, .8);
  }
}
