@import '../../shared';

$progress-bar-height: 6px;
$progress-bar-height-full-screen: 8px;

.seek-block {
  position: relative;

  display: block;

  width: 100%;
  height: $progress-bar-height;

  transition: opacity .2s, visibility .2s;

  @include in-full-screen() {
    height: $progress-bar-height-full-screen;
  }
  touch-action: none;

  &:hover,
  &.is-dragging {
    .progress-bars-wrapper {
      transform: scaleY(1);

      @include in-full-screen() {
        transform: scaleY(1);
      }
      .seek-to {
        opacity: 1;
      }
      .played:after {
        transform: scale(1);
      }
      .time-indicator:after {
        transform: scale(1);
      }
    }
  }
}

.progress-bars-wrapper {
  height: $progress-bar-height;

  transition: transform .1s cubic-bezier(.0,.0,.2,1);
  transform: scaleY(.33);

  @include in-full-screen() {
    height: $progress-bar-height-full-screen;

    transform: scaleY(.25);
  }
}

.progress-bar {
  position: absolute;

  height: $progress-bar-height;
  padding: 0;

  @include in-full-screen() {
    height: $progress-bar-height-full-screen;
  }
}

.played {
  background-color: #ea492e;

  &:after {
    position: absolute;
    top: -$progress-bar-height / 2;
    right: -$progress-bar-height;

    width: $progress-bar-height * 2;
    height: $progress-bar-height * 2;

    content: '';
    transition: transform .1s cubic-bezier(.0,.0,.2,1);
    transform: scale(0);

    border-radius: 50%;
    background-color: #fff;

    @include in-full-screen() {
      top: -$progress-bar-height-full-screen / 2;
      right: -$progress-bar-height-full-screen;

      width: $progress-bar-height-full-screen * 2;
      height: $progress-bar-height-full-screen * 2;
    }
  }
}

.buffered {
  transition: width .2s ease;

  background-color: transparentize(#fff, .75);
}

.background {
  width: 100%;

  background-color: transparentize(#fff, .75);
}

.seek-to {
  transition: opacity .2s;

  opacity: 0;
  background-color: rgba(234,73,46, .5);
}

.time-indicators {
  position: absolute;

  overflow-x: hidden;

  width: 100%;
  height: 100%;
}

.time-indicator {
  position: absolute;

  &:after {
    position: absolute;
    right: -$progress-bar-height / 2;

    width: $progress-bar-height;
    height: $progress-bar-height;

    content: '';
    transition: transform .1s cubic-bezier(.0, .0, .2, 1);
    transform: scale(0);

    opacity: .6;
    border-radius: 50%;
    background-color: #fff;

    @include in-full-screen() {
      right: -$progress-bar-height-full-screen / 2;

      width: $progress-bar-height-full-screen;
      height: $progress-bar-height-full-screen;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.hitbox {
  position: relative;
  z-index: 5;
  top: -11px;

  display: block;

  width: 100%;
  height: 16px;

  cursor: pointer;

  opacity: 0;
}

:global {
  [data-focus-source='key'] [data-hook='progress-control'].focus-within,
  [data-focus-source='script'] [data-hook='progress-control'].focus-within {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba(56, 153, 236, .8);
  }
}
