@import '../../shared';

.seek-block {
  position: relative;

  display: block;

  width: 100%;
  height: 6px;

  transition: opacity .2s, visibility .2s;

  @include in-full-screen() {
    height: 8px;
  }
  touch-action: none;

  &:hover,
  &.is-dragging {
    .progress-bars-wrapper {
      transform: scaleY(1);

      @include in-full-screen() {
        transform: scaleY(1);
      }
      .seek-to {
        opacity: 1;
      }
      .played:after {
        transform: scale(1);
      }
    }
  }
}

.progress-bars-wrapper {
  height: 6px;

  transition: transform .1s cubic-bezier(.0,.0,.2,1);
  transform: scaleY(.33);

  @include in-full-screen() {
    height: 8px;

    transform: scaleY(.25);
  }
}

.progress-bar {
  position: absolute;

  height: 6px;
  padding: 0;

  @include in-full-screen() {
    height: 8px;
  }
}

.played {
  background-color: #ea492e;

  &:after {
    position: absolute;
    top: -3px;
    right: -6px;

    width: 12px;
    height: 12px;

    content: '';
    transition: transform .1s cubic-bezier(.0,.0,.2,1);
    transform: scale(0);

    border-radius: 50%;
    background-color: #fff;

    @include in-full-screen() {
      top: -4px;
      right: -8px;

      width: 16px;
      height: 16px;
    }
  }
}

.buffered {
  transition: width .2s ease;

  background-color: transparentize(#fff, .75);
}

.background {
  width: 100%;

  background-color: transparentize(#fff, .75);
}

.seek-to {
  transition: opacity .2s;

  opacity: 0;
  background-color: rgba(234,73,46, .5);
}

.hitbox {
  position: relative;
  z-index: 5;
  top: -11px;

  display: block;

  width: 100%;
  height: 16px;

  cursor: pointer;

  opacity: 0;
}

:global {
  [data-focus-source='key'] [data-hook='progress-control'].focus-within,
  [data-focus-source='script'] [data-hook='progress-control'].focus-within {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba(56, 153, 236, .8);
  }
}
