@import '../ui/shared';


.videoWrapper {
  font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica Neue,Helvetica,Arial,\\30E1\30A4\30EA\30AA,meiryo,\\30D2\30E9\30AE\30CE\89D2\30B4 pro w3,hiragino kaku gothic pro;
  line-height: 0;

  position: relative;
  z-index: 0;

  display: block;
  overflow: hidden;

  height: inherit;

  outline: none;

  @import './normalize/universal';
  @import './normalize/button';
}

.fillAllSpace,
.fullScreen {
  width: 100%!important;
  height: 100%!important;
}


:global {
  [data-playable-focus-source='key'] [data-playable-hook='player-container'],
  [data-playable-focus-source='script'] [data-playable-hook='player-container'] {
    button.focus-within,
    input.focus-within,
    img.focus-within {
      box-shadow: 0 0 0 2px rgba(56, 153, 236, .8);
    }
  }
}
