@import '../shared';

.controls-block {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;

  &::-moz-focus-inner {
    border: 0;
  }
}

.controls-wrapper {
  z-index: 10;

  outline: none;

  .gradient-background {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;

    height: 130px;

    transition: opacity .2s, visibility .2s;

    opacity: 0;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.6)) no-repeat bottom;
    background-size: 100% 130px;
  }

  .controls {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    visibility: hidden;

    width: 100%;
    max-width: 100%;
    height: 50px;
    margin-bottom: 5px;

    transition: opacity .2s, visibility .2s;

    opacity: 0;

    align-items: center;
  }


  &.activated,
  &.video-paused {
    .controls {
      visibility: visible;

      opacity: 1;
    }

    .gradient-background {
      visibility: visible;

      opacity: 1;
    }
  }
}
