@import '../shared';

.controls-block {
  position: absolute;
  z-index: 60;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  height: 50px;

  &::-moz-focus-inner {
    border: 0;
  }

  &.activated,
  &.video-paused,
  &.focus-within {
    .progress-bar-container,
    .controls-container-left,
    .controls-container-right {
      opacity: 1;
    }
  }
}

.container-wrapper {
  display: flex;

  width: 100%;

  flex-grow: 2;
}

.progress-bar-container {
  position: relative;
  top: 3px;

  padding: 0 20px;
}

.progress-bar-container,
.controls-container-left,
.controls-container-right {
  transition: opacity .2s, visibility .2s;

  opacity: 0;
}

.controls-container-right,
.controls-container-left {
  position: relative;
  z-index: 3;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex: 1;

  width: 100%;
  max-width: 100%;

  align-items: center;
}

.controls-container-right {
  justify-content: flex-end;
}

.logo-container {
  display: flex;
}
