$thumbnail-width: 180px;
$thumbnail-height: 90px;
$thumbnail-border-size: 2px;

.container {
  display: flex;
  flex-direction: column-reverse;

  width: $thumbnail-width;
  height: $thumbnail-height;

  border: $thumbnail-border-size solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);

  align-items: center;

  &.empty {
    width: initial;
    height: initial;

    border: none;
    border-radius: 0;
  }
}

.highQualityFrame,
.lowQualityFrame {
  position: absolute;
  top: $thumbnail-border-size;
  right: $thumbnail-border-size;
  bottom: $thumbnail-border-size;
  left: $thumbnail-border-size;

  width: $thumbnail-width;
  height: $thumbnail-height;
}

.highQualityFrame {
  z-index: 2;
}

.lowQualityFrame {
  z-index: 1;
}

.empty {
  .thumbText {
    background: none;
  }

  .highQualityFrame,
  .lowQualityFrame {
    width: 0;
    height: 0;
  }
}

.thumbText {
  font-size: 11px;
  line-height: 12px;

  position: relative;
  z-index: 3;

  padding: 4px 5px;

  white-space: nowrap;

  color: white;
  background: rgba(0, 0, 0, 0.8);
}
