@import '../../shared';

.timeWrapper {
  display: flex;
  flex: 0 0 auto;

  height: 25px;

  align-items: center;
}

.time {
  font-size: 12px;

  @include in-full-screen() {
    font-size: 14px;
  }
}

.duration {
  margin-left: 5px;

  &:before {
    margin-right: 4px;

    content: '/';
  }
}

.liveMode {
  .separator {
    display: none;
  }

  .duration {
    display: none;
  }
}
