.controls {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  opacity: 0.8;
  transition-property: opacity;
  transition-duration: 0.2s;

  &.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }
}


