.controls {
  display: flex;

  width: 100%;
  max-width: 100%;

  align-items: center;
}

.icon {
  cursor: pointer;
  transition-duration: .2s;
  transition-property: opacity;

  opacity: .8;

  &.hidden {
    display: none;
    visibility: hidden;

    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }
}
