.controls {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 1;
  text-align: center;
}

.play-control {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  align-items: center;
  width: 53px;
  padding: 0 20px;
  line-height: 1;
  text-align: center;
  border-right: 1px solid hsla(0,0%,100%,.2);

  .icon {
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.2s;
  }
}

.play-control .icon:hover {
  opacity: 1;
}

.pause-icon {
  display: none;
}

.video-playing {
  .play-icon {
    display: none;
  }

  .pause-icon {
    display: block;
  }
}

.progress-bar {
  position: relative;
  display: inline-block;
  flex: 1;
  margin-right: 20px;
}

.seek-input {
  position: relative;
  z-index: 2;
  display: block;
  height: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.progress-played,
.progress-buffered,
.volume-level {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  margin: -2px 0 0;
  padding: 0;
  vertical-align: top;
  appearance: none;
  border: none;
  border-radius: 100px;

  &::-webkit-progress-bar {
    background: transparent;
  }
  &::-webkit-progress-value {
    background: currentColor;
    border-radius: 100px;
    min-width: 3px;
  }
  &::-moz-progress-bar {
    background: currentColor;
    border-radius: 100px;
    min-width: 3px;
  }
  &::-ms-fill {
    border-radius: 100px;
  }
}

.progress-played,
.volume-level {
  z-index: 1;
  transition: none;

  &::-webkit-progress-value {
    min-width: 3px;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
  }
  &::-moz-progress-bar {
    min-width: 3px;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
  }
  &::-ms-fill {
    display: none;
  }
}

.progress-played {
  color: #3498db;
  background: 0 0;
}

.volume-level {
  color: white;
  background: rgba(255,255,255,.25);
}

.progress-buffered {
  color: rgba(255,255,255,.25);
  background: rgba(255,255,255,.25);
}

.progress-buffered::-webkit-progress-value {
  transition: width .2s ease;
}
.progress-buffered::-moz-progress-bar {
  transition: width .2s ease;
}
.progress-buffered::-ms-fill {
  transition: width .2s ease;
}

/* -------- STYLES FOR INPUT RANGE -------- */
.video-wrapper {
  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -4px;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background: #ffffff;
    cursor: pointer;
    transition: transform .15s ease;
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
    transition: transform .15s ease;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
    transition: transform .15s ease;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: transparent;

  }

  input[type=range]::-ms-fill-upper {
    background: transparent;
  }

  input[type=range]:active::-webkit-slider-thumb {
    transform: scale(1.25);
  }
  input[type=range]:active::-moz-range-thumb {
    transform: scale(1.25);
  }
  input[type=range]:active::-ms-thumb {
    transform: scale(1.25);
  }
}

.time-wrapper {
  display: flex;
  flex: 0 0 auto;
  height: 18px;
  margin: 0 20px;
  align-items: center;

  .time {
    line-height: 1px;
    font-size: 12px;
    color: hsla(0,0%,100%,.8);
    font-family: HelveticaNeueW01-55Roma,HelveticaNeueW02-55Roma,HelveticaNeueW10-55Roma,Helvetica Neue,ruble,Helvetica,Arial,sans-serif;

    &.current {
      margin-right: 5px
    }
    &.duration {
      margin-left: 5px
    }
  }
}

.volume-control {
  position: relative;
  display: flex;
  flex: 1;
  max-width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;

  .volume-icon {
    width: 20px;
    height: 20px;
    opacity: 0.8;
    cursor: pointer;

    &.hidden {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }

  .volume-inner-wrapper {
    display: flex;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    transform: rotate(-90deg);
    width: 100px;
    position: absolute;
    left: -45px;
    top: -80px;
    flex: 1;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 0.2s, opacity 0.2s, display 0.2s;

    .volume-input-wrapper {
      width: 100px;

      .volume-level {
        width: 100px;
        margin-left: 10px;
      }
    }
  }

  &:hover {
    .volume-inner-wrapper {
      visibility: visible;
      opacity: 1;
    }

    .volume-icon {
      width: 20px;
      height: 20px;
      opacity: 1;
    }
  }
}


