@mixin plyr-range-track() {
  height: 8px;

  cursor: pointer;
  user-select: none;

  border: 0;
  border-radius: 4px;
  background: transparent;
}
@mixin plyr-range-thumb() {
  position: relative;

  box-sizing: border-box;
  width: 16px;
  height: 16px;

  cursor: pointer;
  transition: transform .15s ease;

  border: none;
  border-radius: 100%;
  background: #fff;
}
