.volume-control {
  position: relative;

  display: flex;
  flex: 1;

  width: 30px;
  max-width: 30px;
  height: 30px;
  margin-right: 20px;

  justify-content: center;
  align-items: center;

  input[type='range'] {
    position: relative;
    z-index: 2;

    &::-webkit-slider-runnable-track {
      background: transparent;
    }
    &::-moz-range-track {
      background: transparent;
    }
    &::-ms-fill-upper {
      background: transparent;
    }
  }

  .volume-icon {
    width: 20px;
    height: 20px;
  }

  .volume-inner-wrapper {
    position: absolute;
    top: -80px;
    left: -45px;

    display: flex;
    visibility: hidden;
    flex: 1;

    width: 100px;
    padding: 10px;

    transition: visibility .2s, opacity .2s, display .2s;
    transform: rotate(-90deg);

    opacity: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    .volume-input-wrapper {
      width: 100px;

      .volume-level {
        width: 100px;
        margin-left: 10px;
      }
    }
  }

  &:hover {
    .volume-inner-wrapper {
      visibility: visible;

      opacity: 1;
    }

    .volume-icon {
      opacity: 1;
    }
  }
}
