@import '../shared';

.topBlock {
  z-index: 60;

  &::-moz-focus-inner {
    border: 0;
  }

  &.activated,
  &.focus-within {
    .titleContainer {
      opacity: 1;
    }
  }
}

.liveIndicatorContainer {
  flex-grow: 0;
}

.elementsContainer {
  display: flex;
  flex-direction: row;

  margin-top: 20px;
  margin-left: 20px;

  align-items: center;
  @include in-full-screen() {
    margin-top: 30px;
    margin-left: 30px;
  }
  @include max-width-550() {
    margin-top: 15px;
    margin-left: 15px;
  }
  @include max-width-280() {
    margin-top: 12px;
    margin-left: 12px;
  }
}

.titleContainer {
  max-width: calc(100% - 200px);

  transition: opacity .2s, visibility .2s;

  opacity: 0;

  flex-grow: 1;
}
