@font-face {
  font-family: 'slate';
  font-weight: normal;
  font-style: normal;

  src: font-url('slate.eot?-syv14m');
  src: font-url('slate.eot?#iefix-syv14m') format('embedded-opentype'),
  font-url('slate.woff2?-syv14m') format('woff2'),
  font-url('slate.woff?-syv14m') format('woff'),
  font-url('slate.ttf?-syv14m') format('truetype'),
  font-url('slate.svg?-syv14m#slate') format('svg');
}

%icon {
  font-family: 'slate';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  text-transform: none;

  speak: none;
}

%icon-exclamation-sign {
  content: '\e600';

  @extend %icon;
}
%icon-info-sign {
  content: '\e602';

  @extend %icon;
}
%icon-ok-sign {
  content: '\e606';

  @extend %icon;
}
%icon-search {
  content: '\e607';

  @extend %icon;
}
