@mixin in-full-screen() {
  div[data-hook='player-container'][data-in-full-screen='true'] & {
    @content
  }
}

@mixin query-basic($query, $value) {
  div[data-hook='player-container'][#{$query}~=#{'"' + $value + '"'}] & {
    @content
  }
}

@mixin max-width-550() {
  @include query-basic(max-width, 550px) {
    @content
  }
}

@mixin max-width-400() {
  @include query-basic(max-width, 400px) {
    @content
  }
}

@mixin max-width-350() {
  @include query-basic(max-width, 350px) {
    @content
  }
}

@mixin max-width-300() {
  @include query-basic(max-width, 300px) {
    @content
  }
}

@mixin max-width-280() {
  @include query-basic(max-width, 280px) {
    @content
  }
}
