@import 'media-query-mixins';


.controlButton {
  display: flex;

  box-sizing: content-box;
  padding: 0;

  cursor: pointer;
  transition-duration: .2s;
  transition-property: opacity;

  opacity: 1;
  border: 0;
  border-radius: 0;
  outline: none;
  background-color: transparent;

  justify-content: center;
  align-items: center;

  &:hover {
    opacity: .7;
  }
}

@mixin hidden() {
  visibility: hidden !important;

  width: 0 !important;
  min-width: 0 !important;
  height: 0 !important;
  min-height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;

  opacity: 0 !important;
}

.hidden {
  @include hidden();
}
