.icon-container {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  .icon {
    font-size: 9px;
    line-height: 9px;

    position: relative;

    display: flex;

    box-sizing: initial;

    animation-name: fade-out;
    animation-duration: .5s;

    opacity: 0;
    border-radius: 100px;
    background-color: rgba(0,0,0, .5);

    justify-content: center;
    align-items: center;
  }

  .animated-icon {
    animation-name: icon-size;
    animation-duration: .5s;
  }

  .play-icon {
    position: relative;
    left: 3px;
  }

  .pause-icon {
    margin: 5px 0;
  }

  .seconds {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    min-width: 5px;
    min-height: 8px;

    color: white;

    justify-content: center;
    align-items: center;

    span {
      display: block;
    }
  }
}

@keyframes icon-size {
  from {
    width: 22px;
    height: 22px;
  }

  to {
    width: 30px;
    height: 30px;
  }
}

@keyframes fade-out {
  from {
    width: 22px;
    height: 22px;
    padding: 19px;

    opacity: .9;
  }

  to {
    font-size: 14px;
    line-height: 14px;

    width: 30px;
    height: 30px;
    padding: 25px;

    opacity: 0;
  }
}
