@import '../../shared';


.progress-played,
.progress-buffered {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 4px;
  margin: -2px 0 0;
  padding: 0;

  vertical-align: top;

  border: none;
  border-radius: 100px;

  appearance: none;

  &::-webkit-progress-bar {
    background: transparent;
  }
  &::-webkit-progress-value {
    min-width: 4px;

    border-radius: 100px;
    background: currentColor;
  }
  &::-moz-progress-bar {
    min-width: 4px;

    border-radius: 100px;
    background: currentColor;
  }
  &::-ms-fill {
    border: none;
    border-radius: 100px;
  }
}

.progress-played {
  z-index: 1;

  transition: none;

  color: $color-main;
  background: transparent;

  &::-webkit-progress-value {
    min-width: 4px;
    max-width: 99%;

    transition: none;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &::-moz-progress-bar {
    min-width: 4px;
    max-width: 99%;

    transition: none;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &::-ms-fill {
    display: none;
  }
}
.progress-buffered {
  &::-webkit-progress-value {
    transition: width .2s ease;
  }
  &::-moz-progress-bar {
    transition: width .2s ease;
  }
  &::-ms-fill {
    transition: width .2s ease;
  }
}

.progress-buffered {
  background: $video-progress-bg;
}
.progress-buffered {
  color: $video-progress-bg;
}
