body {
    background: #EEE;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.App {
    overflow: auto;
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px;
}

.vidi {
    transform: scale(1, 0.9);
}

h1, h2 {
    font-weight: 200;
    white-space: pre-wrap;
}

h1 {
    font-size: 4.2em;
    margin: 0;
    padding-top: 20px;
}

h2 {
    font-size: 1.6em;
}

.content {
    width: 80vw;
    margin: 0 auto;
    max-width: 640px;
}

.code {
    display: inline-block;
    background-color: #353D6A;
    color: white;
    border-radius: 5px;
    padding: 0px 5px 2px 5px;
}

.video {
    background-color: #353D6A;
    max-height: 360px;
    width: 100%;
    height: 45vw;
}

.formWrapper {
    text-align: left;
    padding-top: 20px;
    margin: 0 auto;
    white-space: nowrap;
}

.btn {
    display: inline-block;
    padding: 5px 0;
    background-color: #4CAF50;
    font-size: 18px;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    box-sizing: border-box;
    font-variant: small-caps;
}

.playBtn {
    text-align: center;
    width: 80px;
    margin-left: 20px;
    border-radius: 5px;
}

.playBtn:hover {
    background-color: #58c55c;
}

.urlLabel {
    width: 45px;
    display: inline-block;
}

#sourceInput {
    padding: 5px 0;
    text-indent: 6px;
    font-size: 18px;
    border: 0;
    box-sizing: border-box;
    width: calc(100% - 100px - 80px - 45px);
}

#sourceInput:focus {
    outline-color: #4CAF50;
}

.tagLine {
    display: inline-block;
}

.boxes {
    margin: 80px 0;
}

.box {
    float: left;
    width: calc(90% / 3);
    cursor: pointer;
    background: black;
    border-radius: 10px;
}

.box:hover img {
    opacity: 1;
}

.box img {
    border-radius: 10px;
    width: 100%;
    display: block;
    opacity: 0.7;
    transition: opacity 0.4s;
}

.box.centerBox {
    margin: 0 5%;
}

.clear {
    clear: both;
}

@media screen and (max-width: 420px) {
    .App {
        font-size: 14px;
    }
}

@media screen and (max-width: 370px) {
    .App {
        font-size: 12px;
    }
    .playBtn {
        display: block;
        width: 80px;
        margin: 20px auto 0 auto;
    }
    #sourceInput {
        width: calc(100% - 80px - 45px);
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #a6a6a6;
    width: 80px;
    color: white;
    text-align: left;
    padding-left: 12px;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    font-variant: small-caps;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropbtn {
    background-color: #808080;
}