<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video Player</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    html,
    body {
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #player-wrapper {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
  <script src="<%= staticsBaseUrl %>video-player-develop.bundle.js"></script>
</head>
<body>
<div id="theme-switcher">
  <h3>Switch color: </h3>
  <button data-color="#FFF">white</button>
  <button data-color="#F00">red</button>
  <button data-color="#0F0">green</button>
  <button data-color="#00F">blue</button>
</div>
<div id="player-wrapper"></div>
</body>
</html>
