.icon-container {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  .icon {
    position: relative;

    .svg-play,
    .svg-pause {
      display: block;

      animation-duration: .5s;

      opacity: 0;
    }

    &.play {
      .svg-play {
        animation-name: fade-out-play;
      }
      .svg-pause {
        display: none;
      }
    }

    &.pause {
      .svg-pause {
        animation-name: fade-out-pause;
      }
      .svg-play {
        display: none;
      }
    }
  }
}

@keyframes fade-out-play {
  from {
    width: 70px;
    height: 98px;

    opacity: .5;
  }

  to {
    width: 85px;
    height: 119px;

    opacity: 0;
  }
}

@keyframes fade-out-pause {
  from {
    width: 60px;
    height: 84px;

    opacity: .5;
  }

  to {
    width: 75px;
    height: 105px;

    opacity: 0;
  }
}

.screen-block {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
