.icon-container {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  .icon {
    position: relative;

    animation-duration: .5s;

    opacity: 0;
    background-size: 60px 60px;

    &.play {
      animation-name: fade-out-play;

      background-image: url('../controls/play/svg/play-icon.svg');
    }

    &.pause {
      animation-name: fade-out-pause;

      background-image: url('../controls/play/svg/pause-icon.svg');
    }
  }
}

@keyframes fade-out-play {
  from {
    width: 60px;
    height: 60px;

    opacity: 1;
    background-size: 60px 60px;
  }

  to {
    width: 75px;
    height: 75px;

    opacity: 0;
    background-size: 75px 75px;
  }
}

@keyframes fade-out-pause {
  from {
    width: 60px;
    height: 60px;

    opacity: 1;
    background-size: 60px 60px;
  }

  to {
    width: 75px;
    height: 75px;

    opacity: 0;
    background-size: 75px 75px;
  }
}

.screen-block {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
