.container {
  position: absolute;
  bottom: 0;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  padding: 6px;
  z-index: 59;

  &.animated {
    transition-property: left, right, top, bottom, opacity, visibility;
    transition-duration: 1s;
  }
}

.close-button {
  display: none;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  background: url('./close.svg');
  opacity: 0.6;

  &:hover {
    opacity: 0.8
  }
}

.container:hover .close-button {
  display: block;
}

:global [data-hook="player-container"][min-width~="901px"] {
  :local {
    .close-button {
      top: 16px;
      right: 16px;
    }
  }
}

:global .preview-mode {
  :local {
    .close-button {
      opacity: 0.6;
      cursor: default;

      &:hover {
        opacity: 0.6
      }
    }
  }
}
