.container {
  position: relative;

  padding: 6px;
  &.shown {
    animation-name: show;
    animation-duration: .5s;

    opacity: 1;
  }

  &.hidden {
    animation-name: hide;
    animation-duration: .5s;

    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.close-button {
  display: none;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background: url('./close.svg');

  &:hover {
    opacity: 0.6
  }
}

.container:hover .close-button {
  display: block;
}

:global [data-hook="player-container"][max-width~="579px"] {
  :local {
    .close-button {
      top: 10px;
      right: 10px;
    }
  }
}
