@import '../../shared';

.full-screen-control {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;
}


.full-screen-toggle {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;

  transition: transform .2s;

  background-image: url('../../../../assets/enter-full-screen.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;

  @include in-full-screen() {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 21px;

    background-size: 21px 21px;
  }

  &:hover {
    transform: scale(1.18);
  }

  &.in-full-screen {
    background-image: url('../../../../assets/exit-full-screen.svg');

    &:hover {
      transform: scale(.8);
    }
  }
}
